@media print {
  p.bodyText {
    font-family: georgia, times, serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: red;
}

/* make tables visible */
table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

/* fix for ordered lists */
/* ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol > li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
} */
