# Java Gradle app specific #
############################
# Ignore jar files, except gradle wrapper jar
*.jar
!gradle/wrapper/gradle-wrapper.jar
# Gradle project-specific cache directory
.gradle/
# Gradle build output directory
build/
bin/